* {
    box-sizing: border-box;
    font-family: cursive;
    margin: 4px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

:root {
    --color-1: #efeeee;
    --color-2: #000000;
    --color-3: #ffffff;
    --color-4: #B3D6DE;
    --color-5: yellow;
}

.container {
    position: relative;
}

.dark-theme {
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #282828;
    --color-4: #398798;
    --color-5: #ffffff;
}

body {
    padding: 20px;
    background: var(--color-1);
    color: var(--color-2);
}

.header {
    background-color: var(--color-4);
    color: var(--color-2);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.icon{
    color: var(--color-5);
    font-size:24px;
}


.header div h2 {
    font-size: 20px;
    color: var(--color-2);

}

img {
    height: 100%;
    width: 55%;
    object-fit: fill;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.fakeimg,
.fakeimg-about {
    background-color: var(--color-1);
    width: 100%;
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
}


.rightcolumn-fakeimg {
    background-color: var(--color-1);
    width: 100%;
    padding: 4px 4px;
    display: flex;
    justify-content: space-between;
}

.fakeimg ol {
    width: 45%;
}

.card {
    background-color: var(--color-3);
    padding: 4px 20px;
    margin-top: 20px;
    height: max-content;
}

.row-about {
    margin-top: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 50px;
}

ul a {
    text-decoration: none;
    color: var(--color-2);
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.rightcolumn-img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.rightcolumn-img2 {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.about-img {
    width: 33.3%;
    height: 300px;

}

@media (max-width: 768px) {
    .leftcolumn {
        width: 100%;
    }

    .rightcolumn {
        width: 100%;
        padding-left: 0px;

    }
}

@media (max-width: 576px) {

    img {
        width: 100%;
    }

    .fakeimg ol {
        width: 100%;
    }

    .fakeimg {
        flex-direction: column;
    }

    .about-img {
        height: 200px;

    }

}